<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>工作</title>
		<link rel="stylesheet" href="../css/style.css" />
	</head>

	<body>
		<div class="content">
			<div class="banner_bj">
				<img src="../img/banner_bj.png" />
			</div>
			<div class="ico_n">
				<div class="ico_n-box">
					<a href="粮情检测.html" class="bj_a">
						<div class="ico_1-box">
							<img src="../img/ico_1.png " />
							<h1>粮情检测</h1>
						</div>
					</a>
					<a href="虫害气体.html" class="bj_a">
						<div class="ico_1-box">
							<img src="../img/ico_2.png " />
							<h1>虫害气体</h1>
						</div>
					</a>
					<a href="能耗检测.html" class="bj_a">
						<div class="ico_2-box">
							<img src="../img/ico_3.png " />
							<h1>能耗检测</h1>
						</div>
					</a>
					<a href="智能通风.html" class="bj_b">
						<div class="ico_3-box">
							<img src="../img/ico_4.png " />
							<h1>智能通风</h1>
						</div>
					</a>
					<a href="环流控温.html" class="bj_b">
						<div class="ico_3-box">
							<img src="../img/ico_5.png " />
							<h1>环流控温</h1>
						</div>
					</a>
					<a href="气象信息.html" class="bj_b">
						<div class="ico_2-box">
							<img src="../img/ico_6.png " />
							<h1>气象信息</h1>
						</div>
					</a>
					<a href="远程照明.html" class="bj_b">
						<div class="ico_5-box">
							<img src="../img/ico_7.png " />
							<h1>远程照明</h1>
						</div>
					</a>
					<a href="数量扫描.html" class="bj_b">
						<div class="ico_5-box">
							<img src="../img/ico_8.png " />
							<h1>数量扫面</h1>
						</div>
					</a>
					<a href="更多.html" class="bj_b">
						<div class="ico_6-box">
							<img src="../img/ico_9.png " />
							<h1>更多</h1>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="nav">
			<a href="#">
				<i class="gz ico-font">&#xe603;</i>
				<h1>工作</h1>
			</a>
			<a href="我的.html">
				<i class="wd ico-font">&#xe604;</i>
				<h1>我的</h1>
			</a>
			<a href="#">
				<i class="fh ico-font">&#xe605;</i>
				<h1>返回</h1>
			</a>
		</div>

		
	</body>

</html>