<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>详情信息-粮情检测</title>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="粮情检测.html"></a>
		    <h1 class="mui-title">详情信息</h1>
		</header>
		<div class="mui-content">
		    <ul class="mui-table-view m-b2">
				 <li class="mui-table-view-cell">
					 <div class="mui-pull-left">
						保管人员
					 </div>
					 <div class="mui-pull-right">
						 <p>XX</p>
					 </div>
				 </li>
				 <li class="mui-table-view-cell">
					 <div class="mui-pull-left">
						测试时间
					 </div>
					 <div class="mui-pull-right">
						 <p>2016-9-28 01:02:03</p>
					 </div>
				 </li>
				 <li class="mui-table-view-cell">
					 <div class="mui-pull-left">
						粮仓内温
					 </div>
					 <div class="mui-pull-right">
						 <p>12.50</p>
					 </div>
				 </li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						粮仓外温
					</div>
					<div class="mui-pull-right">
						<p>12.50</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						粮仓内湿
					</div>
					<div class="mui-pull-right">
						<p>0</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						粮仓外湿
					</div>
					<div class="mui-pull-right">
						<p>12.50</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						仓最高温
					</div>
					<div class="mui-pull-right">
						<p>14.40</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						仓最低温
					</div>
					<div class="mui-pull-right">
						<p>10.50</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						粮仓均温
					</div>
					<div class="mui-pull-right">
						<p>12.41</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						1层最高温
					</div>
					<div class="mui-pull-right">
						<p>14.40</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						1层最低温
					</div>
					<div class="mui-pull-right">
						<p>10.50</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						1层平均温
					</div>
					<div class="mui-pull-right">
						<p>12.41</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						2层最高温
					</div>
					<div class="mui-pull-right">
						<p>14.40</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						2层最低温
					</div>
					<div class="mui-pull-right">
						<p>10.50</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						2层平均温
					</div>
					<div class="mui-pull-right">
						<p>12.41</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						3层最高温
					</div>
					<div class="mui-pull-right">
						<p>14.40</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						3层最低温
					</div>
					<div class="mui-pull-right">
						<p>10.50</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						3层平均温
					</div>
					<div class="mui-pull-right">
						<p>12.41</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						4层最高温
					</div>
					<div class="mui-pull-right">
						<p>14.40</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						4层最低温
					</div>
					<div class="mui-pull-right">
						<p>10.50</p>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<div class="mui-pull-left">
						4层平均温
					</div>
					<div class="mui-pull-right">
						<p>12.41</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="nav">
			<a href="工作.html">
				<i class="gz ico-font" style="padding-top: 22px; margin-bottom: 11px;">&#xe603;</i>
				<h1>工作</h1>
			</a>
			<a href="我的.html">
				<i class="wd ico-font" style="padding-top: 18px; margin-bottom: 11px;">&#xe604;</i>
				<h1>我的</h1>
			</a>
			<a href="javascript:history.go(-1);">
				<i class="fh ico-font" style="padding-top: 17px; margin-bottom: 9px;">&#xe605;</i>
				<h1>返回</h1>
			</a>
		</div>
	</body>
</html>
